{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h2>IEEE Student Branch Presents,</h2>
                <h1>HAXIOS DYNO.</h1>
                <h3>Play the Game. <br>Submit your score. <br>Win exciting IEEE merch. <br></h3>

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="{% url 'dino_run' %}" class="btn-get-started scrollto">Play Now!</a>
                    <a href="https://roghan-j.github.io/" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>About the Hackathon</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'landing/img/hero-img.png' %}" class="img-fluid animated" width="500" height="500"
                    alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= Footer ======= -->
<footer id="footer">



    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>IEESB</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->


<footer id="footer">



    <div class="container footer-bottom clearfix">

    </div>
</footer><!-- End Footer -->



</main>


{% endblock content%}